{# src/EvryThing/GalerieBundle/Resources/views/layout.html.twig #}
	{%extends "::layout.html.twig"%}
	{% block stylesheets %}
		{{ parent() }}
	{% endblock %}
	{%block title%}
		{{parent()}}
	{%endblock%}
	{%block principal%}
	<div id="principal">
		{% for album in albums %}
			<a href="{{path('evry_thing_galerie_carrousel', {'album':album})}}"><img src="{{ asset('bundles/evrythinggalerie/919850_10201457092254208_1844789856_o.jpg') }}" alt="test" /></a>	
		{% else %}
			<li>Pas (encore !) d'albums photo</li>
		{% endfor %}
	</div>
	{%endblock%}