{# src/Sdz/BlogBundle/Resources/view/Blog/voir.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Lecture de l'article {{ id }}</title>
  </head>
  <body>
	<div id='background'>
		<div id='principal'>
			
		</div>
	</div>
	
    <h1>Hello Article n°{{ id }} !</h1>
  </body>
</html>