#tinybox {
    position: absolute;
    display: none;
    padding: 0px;
    z-index: 20000;

}

/* semi-transparent overlay */
#tinymask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #555;
    z-index: 1500;
}
